<a href="https://colab.research.google.com/github/ObsidianBlaze/hamoye-machinelearning-project/blob/main/Introduction_to_Python_for_Machine_Learning.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import pandas as pd

In [2]:
climate_change = 'https://raw.githubusercontent.com/WalePhenomenon/climate_change/master/fuel_ferc1.csv'

In [3]:
climateData = pd.read_csv(climate_change)

In [4]:
climateData

                     record_id  ...  fuel_cost_per_mmbtu
0        f1_fuel_1994_12_1_0_7  ...                1.121
1       f1_fuel_1994_12_1_0_10  ...                1.120
2        f1_fuel_1994_12_2_0_1  ...                1.650
3        f1_fuel_1994_12_2_0_7  ...                1.970
4       f1_fuel_1994_12_2_0_10  ...                2.570
...                        ...  ...                  ...
29518  f1_fuel_2018_12_12_0_13  ...                9.030
29519   f1_fuel_2018_12_12_1_1  ...                6.950
29520  f1_fuel_2018_12_12_1_10  ...                8.990
29521  f1_fuel_2018_12_12_1_13  ...                1.110
29522  f1_fuel_2018_12_12_1_14  ...               11.680

[29523 rows x 11 columns]

In [6]:
minValue = climateData.min()
minValue

record_id                       f1_fuel_1994_12_100_0_1
utility_id_ferc1                                      1
report_year                                        1994
plant_name_ferc1                               (1)sta98
fuel_type_code_pudl                                coal
fuel_qty_burned                                       1
fuel_mmbtu_per_unit                               1e-06
fuel_cost_per_unit_burned                       -276.08
fuel_cost_per_unit_delivered                   -874.937
fuel_cost_per_mmbtu                             -41.501
dtype: object

In [20]:
climateData['fuel_mmbtu_per_unit'].std()

10.600220307806886

In [22]:
climateData['fuel_qty_burned'].kurt()

651.3694501337732

In [30]:
climateData[['report_year','fuel_cost_per_unit_delivered']].mean()

report_year                     2005.806050
fuel_cost_per_unit_delivered     917.570449
dtype: float64

In [47]:
climateData.sort_values(by=['fuel_cost_per_unit_burned'],ascending=True)

                      record_id  ...  fuel_cost_per_mmbtu
7733    f1_fuel_2000_12_194_3_3  ...               -8.906
7736    f1_fuel_2000_12_194_3_6  ...               -5.635
7730   f1_fuel_2000_12_194_2_15  ...               -3.978
11242   f1_fuel_2003_12_281_1_4  ...               -5.750
2123    f1_fuel_1995_12_194_5_9  ...               -3.186
...                         ...  ...                  ...
22991    f1_fuel_2012_12_7_7_13  ...                0.976
21483    f1_fuel_2011_12_7_7_13  ...                1.046
24577   f1_fuel_2014_12_177_2_7  ...               13.445
20719   f1_fuel_2011_12_132_1_2  ...               14.207
25127   f1_fuel_2014_12_147_0_2  ...               22.577

[29523 rows x 11 columns]

In [43]:
climateData

[[0        False
  1        False
  2        False
  3        False
  4        False
           ...
  29518    False
  29519    False
  29520    False
  29521    False
  29522    False
  Name: report_year, Length: 29523, dtype: bool, 0         True
  1         True
  2         True
  3         True
  4        False
           ...
  29518    False
  29519    False
  29520    False
  29521     True
  29522    False
  Name: fuel_type_code_pudl, Length: 29523, dtype: bool]]

In [46]:
climateData

                     record_id  ...  fuel_cost_per_mmbtu
0        f1_fuel_1994_12_1_0_7  ...                1.121
1       f1_fuel_1994_12_1_0_10  ...                1.120
2        f1_fuel_1994_12_2_0_1  ...                1.650
3        f1_fuel_1994_12_2_0_7  ...                1.970
4       f1_fuel_1994_12_2_0_10  ...                2.570
...                        ...  ...                  ...
29518  f1_fuel_2018_12_12_0_13  ...                9.030
29519   f1_fuel_2018_12_12_1_1  ...                6.950
29520  f1_fuel_2018_12_12_1_10  ...                8.990
29521  f1_fuel_2018_12_12_1_13  ...                1.110
29522  f1_fuel_2018_12_12_1_14  ...               11.680

[29523 rows x 11 columns]

In [57]:
climateData['fuel_unit']

0        ton
1        ton
2        ton
3        ton
4        mcf
        ...
29518    mcf
29519    mcf
29520    mcf
29521    ton
29522    mcf
Name: fuel_unit, Length: 29523, dtype: object

In [59]:
(climateData['fuel_unit'].isnull().sum()) / len(climateData['fuel_unit'])

0.00609694136774718